{% extends 'ProSol_Plus/base.html' %}
{% load static %}



{% block user %}
<div class="limiter">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static 'ProSol_Plus/images/brand.png'%}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    ProSol-Plus
  </a>
    <div class="col-sm-0">
        <div class="col-sm-offset-4 float-left"><a href="/" class="text-primary">{{ email }}</a></div>
    </div>
</nav>
	    <style>
            body{
            background-image: url('{% static 'ProSol_Plus/images/bg-01.jpg'%}');
            }
        </style>

            <div class="alert alert-warning" role="alert">
            Payment Failed!
            </div>
            <table class="table table-bordered table-secondary">
            <thead>
            <tr>
            <th scope="col">Keys</th>
            <th scope="col">Values</th>
            </tr>
            </thead>
            {% for keys,values in response.items %}
                <tbody>
                <tr>
                <td>{{ keys }}</td>
                <td>{{ values }}</td>

                </tr>

                </tbody>
            {% endfor %}
            </table>






            </div>


{% endblock%}